<p>
  <%= comment.commenter %><em> said:</em>
</p>
<p>
  <%= comment.body %>
</p>
<p>
  <%= link_to "Destroy comment", [comment.article, comment], method: :delete, data: { confirm: "Are you sure?" } %>
</p>